<!DOCTYPE html>

<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header'); %>
            <main>
                <div class="jumbotron">
                    <h1>Node com EJS</h1>
                    <p>Projecto para aprender as bases EJS</p>
                    <p><%= subtitle %></p>
                </div>
                <ul>
                    <% qualitys.forEach(function (a){ %>
                        <li>
                            <strong><%= a.title %></strong> <%= a.message %>
                        </li>
                    <%  }) %>

                </ul>
            </main>
            <%- include('../partials/footer'); %>
    </body>